PORT=5000
URL_CLIENT=http://localhost:3000

# DATABASE 
MONGODB_URL="your-mongodb-url"
MONGODB_EXPRIES_REFRESHTOKEN=432000

# CLOUDINARY 
CLOUD_NAME="your-cloud-name"
CLOUD_API_KEY="your-cloud-api-key"
CLOUD_API_SECRET="your-cloud-api-secret"

# JWT
NODE_ENV="development"
REFRESH_TOKEN_COOKIE_NAME="refreshToken"
SECRET_KEY_ACCESSTOKEN="your-secret-key-accessToken"
SECRET_KEY_REFRESHTOKEN="your-secret-key-refreshToken"
EXPIRES_ACCESSTOKEN=86400
EXPIRES_REFRESHTOKEN=2592000

# Email
AUTH_EMAIL="your-email-host"
AUTH_PASS ="your-pass-email-host"

# CLIENT_ID AND CLIENT_SECRET
# GOOGLE callback
CLIENT_ID="your-client-id"
CLIENT_SECRET="your-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:5000/api/auth/google/callback"

# MoMo Configuration (Sandbox)
MOMO_PARTNER_CODE="MOMO-PARTNER"
MOMO_ACCESS_KEY="MOMO-ACCESS-KEY"
MOMO_SECRET_KEY="MOMO-SECRET-KEY"
MOMO_ENDPOINT="MOMO-ENDPOINT"
MOMO_RETURN_URL="MOMO-RETURN_URL"
MOMO_NOTIFY_URL="MOMO_NOTIFY_URL"

# VNPAY SANDBOX CONFIGURATION
VNP_TMNCODE="VNP_TMNCODE"
VNP_HASH_SECRET="VNP_HASH_SECRET"
VNPAY_URL="VNPAY_URL"
VNPAY_RETURN_URL="VNPAY_RETURN_URL"
VNPAY_IPN_URL="VNPAY_IPN_URL"
VNPAY_API_URL="VNPAY_API_URL"